# Python
__pycache__/
*.pyc
*.pyo
.env
*.db
venv/
.venv/

# ML
backend/app/ml/*.pkl
backend/app/ml/metrics.json

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/tmp/
